<!DOCTYPE html>
<html>
   <body>
      <form action="http://localhost/square/submit" method="post">
         <p>
            Square this <input type="number" name="x" value="42" />
         </p>
         <p>
            <input type="submit" />
         </p>
      </form>

      <form action="http://localhost/cube/submit" method="post">
         <p>
            Cube this <input type="number" name="x" value="23" />
         </p>
         <p>
            <input type="submit" />
         </p>
      </form>
   </body>
</html>
